<div class="pull-left">
	<div class="vote-arrows"><%= link_to " ", '#', class: 'glyphicon glyphicon-chevron-up' %></div>
	<div><strong><%= post.points %></strong></div>
	<div class="vote-arrows"><%= link_to " ", '#', class: 'glyphicon glyphicon-chevron-down' %></div>
</div>